body {
    /* min-height: max-content; */
    background-image: linear-gradient(#FC5E55, #FA4083);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    
}
.container {
    width : 1024px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right:auto;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px lightgrey solid;
}


main {
    min-height: 300px;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.herobox1 {
    padding-left: 4rem;
    flex:2;
    padding-right: 2rem;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    padding-bottom:2rem;
    text-shadow: 1px 1px 2px black;
}

p {
    line-height: 1.5rem;
    padding-bottom:0.5rem;
}

.herobox2 {
    flex:1;
}

.herobox2 img {
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.herobox2 img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    transition: ease-in-out;
  }

  @keyframes shake {
    80% { transform: translate(60px); }
    90% { transform: translate(40px); }
    100% { transform: translate(20px); }
  }

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 6rem;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

a.mybutton {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: white;
    color: #FA4083;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 3px 6px black;
    font-family: 'Playfair Display', serif;
}

nav a.mybutton{
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px white;
    margin-left:30px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color:#FC5E55;
    transition: 2s ease-out 100ms;

}

nav a.mybutton:hover{
    color: #FC5E55;
    background-color: white;
}
/* .buttonoutline {
    padding-top: 20px;
} */

/* .card1 > img,.card2 > img ,.card3 > img{
    padding-top: 1rem;
} */

.card1 a i,.card2 a i ,.card3 a i{
    padding-top: 2rem;
}

.card1 p,.card2 p,.card3 p{
    padding-left:2rem;
    padding-right:2rem;
}

.card1,.card2,.card3 {
    min-height: 18rem;
    background-size: cover;
    width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px black;
}

.card1 {
    background-position: top;
    background-image: url(image/image-background-card1.jpg);
}

.card2 {
    background-image: url(image/image-background-card2.jpg);
}

.card3 {
    background-position: bottom;
    background-image: url(image/image-background-card3.jpg);
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.para {
    font-size: 0.8rem;
}

.testimonials {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tbox {
    width:45%;
    border:1px solid white;
    box-shadow: 0px 3px lightgray;
    border-radius: 20px;
    padding: 30px 60px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 50%;
}